<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.snapteeSdkSample"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="18"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity android:name=".SampleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="co.snaptee.sdk.DesignActivity"
            android:label="@string/co_snaptee_design"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnapteeSDK">

        </activity>

        <activity
            android:name="co.snaptee.sdk.OrderActivity"
            android:label="@string/co_snaptee_order"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnapteeSDK">

        </activity>

        <activity
            android:name="co.snaptee.sdk.PaymentActivity"
            android:label="@string/co_snaptee_payment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnapteeSDK">

        </activity>

        <activity
            android:name="co.snaptee.sdk.ReceiptActivity"
            android:label="@string/co_snaptee_receipt"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnapteeSDK">
        </activity>

        <activity
            android:name="co.snaptee.sdk.WebViewActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnapteeSDK">
        </activity>

    </application>
</manifest>
